<!DOCTYPE html>
<html lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="Inventario Sinaí">Inventario Sinaí</title>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="font-poppins">
<div class="w-full relative flex overflow-hidden">
    <!-- ASIDE O MENU LATERAL -->
    <aside th:insert="fragments/assets/sidebar.html :: aside"></aside>
    <!-- HEADER -->
    <header th:insert="fragments/assets/navbar.html :: header"></header>

    <main class="p-4 pt-32 sm:pt-28 w-full max-h-svh overflow-hidden overflow-y-auto h-full relative">

        <div layout:fragment="custom-content">
            <!-- Contenido dinámico -->
        </div>
    </main>
</div>
</body>
</html>